<div class="container mt-4">
	<div class="card">
	  <div class="card-body">
		<h5 class="card-title">Gerüst-Abmeldung</h5>
		<h6 class="card-subtitle mb-2 text-muted">Abmeldung eines Gerüstes.</h6>
		<p class="card-text">
			<form method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="col">
						{{ formScaffoldLogout.scaffoldPositionChoice }}
						<small class="form-text text-muted">...</small>
					</div>
				</div>
				{% comment %} <select class="form-control" name="" id = "xxx">
					<option value selected>Gerüst auswählen..</option>
					{% for element in datalist %}
						<option value ="{{ element.id }}">{{ element }}</option>
					{% endfor %}
				</select> {% endcomment %}
				
				<button type="submit" class="btn btn-secondary" name="logutScaffold">Gerüst abmelden</button>
			</form>	
		</p>
	  </div>
	</div>
</div>