<div class="container mt-4">
	<div class="card">
	  <div class="card-body">
		<h5 class="card-title">Gerüst-Anmeldung</h5>
		<h6 class="card-subtitle mb-2 text-muted">Anmeldedatum: {{ today|date:'d.m.Y' }}</h6>
		<hr>
		<p class="card-text">
			<form method="POST">
				{% csrf_token %}				
				<div class="row">
					<div class="col">
						{{ formAnmeldung.Area }}
						{% comment %} <small class="form-text text-muted">{{ formAnmeldung.Area.help_text }}</small> {% endcomment %}
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col">
						{{ formAnmeldung.Installation }}
						{% comment %} <small class="form-text text-muted">{{ formAnmeldung.Installation.help_text }}</small> {% endcomment %}
					</div>
					<div class="col">
						{{ formAnmeldung.Equipment }}
						{% comment %} <small class="form-text text-muted">{{ formAnmeldung.Equipment.help_text }}</small> {% endcomment %}
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col">
						{{ formAnmeldung.Level }}
						{% comment %} <small class="form-text text-muted">{{ formAnmeldung.Level.help_text }}</small> {% endcomment %}
					</div>
					<div class="col">
						{{ formAnmeldung.Geoposition }}
						{% comment %} <small class="form-text text-muted">{{ formAnmeldung.Geoposition.help_text }}</small> {% endcomment %}
					</div>
				</div>
				<hr>
				<div class="row">					
					<div class="col">
						{{ formAnmeldung.Length }}
						<small class="form-text text-muted">{{ formAnmeldung.Length.help_text }}</small>
					</div>
					<div class="col">
						{{ formAnmeldung.Width }}
						<small class="form-text text-muted">{{ formAnmeldung.Width.help_text }}</small>
					</div>
					<div class="col">
						{{ formAnmeldung.Height }}
						<small class="form-text text-muted">{{ formAnmeldung.Height.help_text }}</small>
					</div>
					<div class="col">
						{{ formAnmeldung.SetupDate }}
						<small class="form-text text-muted">Aufbaudatum</small>
					</div>					
				</div>
				<hr>
				

				<div class="input-group mb-3 w-100">
					{% for element in additionalServices %}
						<div class="w-100">
							<div class="input-group-text">
								<input class="form-check-input mt-0 " name="additionalServiceSelection" id="additionalServiceSelection-{{ element.id }}" type="checkbox" value="{{ element.id }}" aria-label="Checkbox for following text input">
								<input type="text" name="additionalServiceSelectionText" class="form-control" aria-label="Text input with checkbox" disabled readonly placeholder="{{ element.Name }} ">
							</div>
						</div>
					{% endfor %} 
				</div>
				<div class="row">
					<div class="col">
						{{ formAnmeldung.Description }}
						<small class="form-text text-muted">{{ formAnmeldung.Description.help_text }}</small>
					</div>
				</div>
			  <button type="submit" class="btn btn-secondary" value="submit_formAnmeldung" name="registerScaffold">Gerüst anmelden</button>
			</form>	
		</p>
	  </div>
	</div>
</div>